<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        {% if not offline %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endif %}

        {% include 'style/general_setup.css' %}
        {% include 'style/layout.css' %}

        {% include 'style/division_anchor.css' %}

        {% include 'style/side_panel.css' %}
        {% include 'style/notes_sidebar.css' %}
        {% include 'style/general_sidebar.css' %}

        {% include 'style/pins.css' %}
        {% include 'style/tag.css' %}
</head>
<body>

    <div>
        <h2 class="tag-baseline division_anchor division_anchor__baseline">{{ lhs_tag }}</h2>
        <h2 class="tag-target division_anchor division_anchor__target">{{ rhs_tag }}</h2>
    </div>

    <div class="notes-sidebar">
        <span class="material-icons general-sidebar__icon">push_pin</span>
        <a> <p id="export-notes">Export with notes</p> </a>
        <div class="notes-sidebar-content">
            <div id="notes-list">
                <!-- place for added notes -->
            </div>
        </div>
    </div>

    <div class="general-sidebar">
        <span class="material-icons general-sidebar__icon">info</span>
        <div class="general-sidebar-content">

        {% for prop in general_properties %}
        <div class="general-property">
            <h2>
                {{ prop.title }}

                {% if not offline %}
                <svg xmlns="http://www.w3.org/2000/svg" class="toggle-arrow" height="24" width="24" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 15.36 16.95 10.4H7.05Z" />
                </svg>
                {% else %}
                <svg class="toggle-arrow" height="24" width="24" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 15.36 16.95 10.4H7.05Z" />
                </svg>
                {% endif %}

            </h2>
            <div class="general-values">
                {% if prop.values[0].content == prop.values[1].content %}
                <!-- Render a single value with tag-common -->
                <div class="general-value">
                    <span class="tag-element tag-common">Common</span>
                    <span class="value">{{ prop.values[0].content }}</span>
                </div>
                {% else %}
                <!-- Render two values with tag-baseline and tag-target -->
                <div class="general-value">
                    <span class="tag-element tag-baseline">Baseline</span>
                    <span class="value">{{ prop.values[0].content }}</span>
                </div>
                <div class="general-value">
                    <span class="tag-element tag-target">Target</span>
                    <span class="value">{{ prop.values[1].content }}</span>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html