<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        {% if not offline %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endif %}

        {% include 'style/general_setup.css' %}
        {% include 'style/layout.css' %}
        {% include 'style/division_anchor.css' %}
        {% include 'style/side_panel.css' %}
</head>
<body>

</body>
</html