{% import 'ssp_table.html.jinja2' as table_generator %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        {% if not offline %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endif %}

        {% include 'style/general_setup.css' %}
        {% include 'style/layout.css' %}

        {% include 'style/division_anchor.css' %}

        {% include 'style/side_panel.css' %}
        {% include 'style/notes_sidebar.css' %}
        {% include 'style/general_sidebar.css' %}

        {% include 'style/pins.css' %}
        {% include 'style/tag.css' %}
</head>
<body>

    <div>
        <h2 class="tag-baseline division_anchor division_anchor__baseline">{{ lhs_tag }}</h2>
        <h2 class="tag-target division_anchor division_anchor__target">{{ rhs_tag }}</h2>
    </div>

    <div class="side-panel navigation-panel">
        <a href="#general">
            <span class="material-icons">home</span>
            <span class="side-panel__description">General</span>
        </a>
        <a href="#profile-vulnerabilities">
            <span class="material-icons">gpp_maybe</span>
            <span class="side-panel__description">Vulnerabilities</span>
        </a>
        <a href="#profile-stats">
            <span class="material-icons">equalizer</span>
            <span class="side-panel__description">Profile Stats</span>
        </a>
        <a href="#profile-metadata">
            <span class="material-icons">account_tree</span>
            <span class="side-panel__description">Profile Metadata</span>
        </a>
        <a href="#flame">
            <span class="material-icons">local_fire_department</span>
            <span class="side-panel__description">Flame Graphs</span>
        </a>
        <a href="#sankey">
            <span class="material-icons">timeline</span>
            <span class="side-panel__description">Sankey Graph</span>
        </a>
    </div>

    <div class="notes-sidebar">
        <span class="material-icons general-sidebar__icon">push_pin</span>
        <a> <p id="export-notes">Export with notes</p> </a>
        <div class="notes-sidebar-content">
            <div id="notes-list">
                <!-- place for added notes -->
            </div>
        </div>
    </div>

    <div class="section" id="general">
        <div class="section-header">
            <h1>Perun Performance Analysis</h1>
            <span class="material-icons pin-icon pin-icon__header" data-section="General">push_pin</span>
        </div>
        <p>Perun version: v{{ perun_version }}</p
        <p>Generated on: {{ timestamp }}</p>

        {{ table_generator.general_comparison_container('baseline', 'general', lhs_header) }}
        {{ table_generator.general_comparison_container('target', 'general', rhs_header) }}
    </div>

    <div id="profile-vulnerabilities" class="section">
        <div class="section-header">
            <h1>Vulnerabilities</h1>
            <span class="material-icons pin-icon" data-section="Vulnerabilities">push_pin</span>
        </div>

        <!-- HERE WILL BE VULNERABILITIES SCRIPT -->
    </div>

    <div id="profile-stats" class="section">
        <div class="section-header">
            <h1>Profile Statistics</h1>
            <span class="material-icons pin-icon" data-section="Profile Statistics">push_pin</span>
        </div>

        {{ table_generator.general_comparison_container('baseline', 'profile-stats', lhs_stats) }}
        {{ table_generator.general_comparison_container('target', 'profile-stats', rhs_stats) }}
    </div>

    <div id="profile-metadata" class="section">
        <div class="section-header">
            <h1>Profile Metadata</h1>
            <span class="material-icons pin-icon" data-section="Profile Metadata">push_pin</span>
        </div>

        {{ table_generator.general_comparison_container('baseline', 'profile-metadata', lhs_metadata) }}
        {{ table_generator.general_comparison_container('target', 'profile-metadata', rhs_metadata) }}
    </div>

</body>
</html